# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Shortcut Run.iml
# Datasource local storage ignored files
/../../../../../../:\Unity\Shortcut Run\.idea\.idea.Shortcut Run\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
